.avia_wpml_language_switch {
float: left;
position: relative;
left: -30px;
padding: 0 5px 0px;
height: 30px;
line-height: 36px;
margin: 15px 15px 0 0;
}

.avia_wpml_language_switch li{
float:left;
margin: 0 5px;
}

.avia_wpml_language_switch li:hover{
opacity: 0.8;
}

.avia_wpml_language_switch li span{
display:none;
}

.avia_wpml_language_switch li .language_flag{
display:block;
}

.avia_wpml_language_switch li .language_flag img{
display:inline-block;
border:1px solid rgba(255,255,255,0.2);
}