h2.tablepress-table-name {
	font-size: 14px;
}

/* .column-1 {
	width: 40%;
} */
td.column-3 {
	white-space: nowrap;
}

/*Для таблицы на странице 
http://metallholding-spb.ru/product/profnastil/polimernyj/
*/
#tablepress-187 th.column-4 {
/*white-space: nowrap;*/
	padding-left: 1px;
}

#tablepress-187 td.column-3 {
/*white-space: initial;*/
	padding-left: 1px;
}

#tablepress-187 th.column-2 {
	padding-right: 108px;
}

/*--------------------------------------------------------*/
/*Для таблицы на странице 
http://metallholding-spb.ru/product/profnastil/ocinkovannyj/ 
*/
#tablepress-184 th.column-4 {
	white-space: nowrap;
}

#tablepress-184 td.column-3 {
	white-space: initial;
}

#tablepress-184 th.column-2 {
	padding-right: 108px;
}

/*--------------------------------------------------------*/
table img {
	width: 200px;
	height: auto;
}

.tpress-3 .row-50 td,
.tpress-3 .row-53 td,
.tpress-3 .row-97 td,
.tpress-62 .row-70 td,
.tpress-62 .row-72 td,
.tpress-63 .row-65 td,
.tpress-63 .row-5 td,
.tpress-63 .row-71 td,
.tpress-63 .row-97 td,
.tpress-63 .row-99 td,
.tpress-63 .row-101 td,
.tpress-64 .row-33 td,
.tpress-64 .row-42 td,
.tpress-65 .row-17 td,
.tpress-66 .row-77 td,
.tpress-66 .row-116 td,
.tpress-68 .row-7 td,
.tpress-68 .row-22 td {
	background: #d9edf7;
	text-transform: uppercase;
}