/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Table	
	#Misc 
    #WordPress Generated Generics	
*/

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	.special-quote {
		quotes: none; }
	.special-quote:before, .special-quote:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	
	html, body{
		overflow-x: hidden;
	}
	
	body {
		font: 13px/1.65em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; 
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */

	/*font-stacks*/
	.lucida-sans-websave{	font-family:"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif ;	}
	.georgia-websave{		font-family:"Georgia", "Times New Roman", Times, serif;	}
	.arial-websave{			font-family: Arial, Helvetica, Verdana, sans-serif;	}
	.verdana-websave{		font-family: Verdana, Arial, Helvetica, sans-serif;	}
	.helvetica-websave{		font-family: Helvetica, "HelveticaNeue", "Helvetica Neue", Arial, Verdana, sans-serif;	}
	.helvetica-neue-websave{font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;	}
	
	/*default*/
	h1, h2, h3, h4, h5, h6 {
font-family: 'Roboto', sans-serif !important;		font-weight: normal; margin:15px 0}
	#top h1 a, #top h2 a, #top h3 a, #top h4 a, #top h5 a, #top h6 a { font-weight: inherit; text-decoration: none; color: inherit; }
	h1 { font-size: 38px; line-height: 1.1em; margin-bottom: 14px;}
	h2 { font-size: 33px; line-height: 1.1em; margin-bottom: 10px; }
	h3 { font-size: 22px; line-height: 1.1em; margin-bottom: 8px; } /*28*/
	h4 { font-size: 18px; line-height: 1.1em; margin-bottom: 4px; } /*21*/
	h5 { font-size: 16px; line-height: 1.1em; }						/*17*/
	h6 { font-size: 14px; line-height: 1.1em; }
	
	.flex_column h1, .flex_column h2, .flex_column h3, .flex_column h4, .flex_column h5, .flex_column h6, #top .widgettitle{
	font-size: 13px;
	line-height: 1.3em;
	margin-bottom: 6px; font-weight:bold; text-transform: uppercase; }
	.flex_column h1 { font-size: 15px; }
	.flex_column h2 { font-size: 14px; }
	.flex_column h3 { font-size: 13px; }
	.flex_column h4, .flex_column h5, .flex_column h6 { font-size: 12px; }
	
	 .flex_column h1 a:hover, .flex_column h2 a:hover, .flex_column h3 a:hover, .flex_column h4 a:hover, .flex_column h5 a:hover, .flex_column h6 a:hover{text-decoration: underline;}
	

	p { margin: 0 0 1.7em 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px;   }

	em { font-style: italic; }
	strong { font-weight: bold;  }
	small { font-size: 80%; }
	
	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
	
	/*	Blockquotes  */
	
	blockquote{
	border-left-style:solid;
	border-left-width:7px;
	padding-left:20px;	
	margin-bottom:1em;
	margin-right:1em;
	}
	
	.special-quote, .pullquote{
font-family: 'Roboto', sans-serif;
	clear:both;
	font-size:1.5em;
/* 	font-style:italic; */
	line-height:1.4em;
	margin:20px 0 20px 54px;
	quotes:"\201C""\201D";
	position: relative;
	border:none;
	padding:0;
	}
	
	.pullquote p{
	margin: 0.8em 0 0.8em 0;
	}
	
	.special-quote:before, .pullquote:before{
	content:open-quote;
	font-size:5em;
	line-height:.1em;
	margin-right:.25em;
	vertical-align:-0.5em;
	display:block;
	position: absolute;
	top: 40px;
	left: -54px;
	opacity: 0.5;
	width: 50px;
	font-family: 'Roboto', sans-serif;
	}
	
	.special-quote p, .pullquote p{position: relative; padding:5px 0; margin:0; }
	.special-quote cite:before , .pullquote cite:before { content: "\2014 \0020"; padding:0px 3px; }
	blockquote small, blockquote cite, blockquote small a, blockquote cite a, blockquote a small, blockquote a cite{font-size: 12px;}


/* #Links
================================================== */
	a { text-decoration: underline; outline: 0; }
	a:hover, a:focus, a:visited { outline: 0; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px;  }
	ul { list-style: none outside; margin-left: 7px;}
	ol { list-style: decimal; margin-left: 15px; }
	ol, ul.square, ul.circle, ul.disc { }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc, .entry-content ul { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	
	.entry-content li {  margin-left: 1em; padding:3px 0;}
	.entry-content div li { text-indent: 0;}
	.entry-content .borderlist>li:first-child {  border-top:1px solid; }
	.entry-content .borderlist>li { border-bottom:1px solid; padding: 5px 0; list-style-position: outside; margin:0;}

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }
	
	img, a img { 
		border:none; 
		padding: 0; 
		margin:0; 
		display:inline-block; 
		max-width: 100%;
		height:auto;
		image-rendering: optimizeQuality;
	}

.msie7 img{ -ms-interpolation-mode: bicubic; }

/* #Buttons
================================================== */

		
	input[type="submit"], #submit, .button{
		padding:9px 22px;
		cursor:pointer;
		border:none;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	.input-text,
	input[type="text"],
	input[type="input"],
	input[type="password"],
	input[type="tel"],
	input[type="email"],
	textarea,
	select {
		 -webkit-appearance: none;
		border: 1px solid #e1e1e1;
		padding: 6px 4px;
		outline: none;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; 
        
		}
		
	select 
	{
		 }

	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #555;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; line-height:1.5em;}
	label{
		display: block;
		font-weight: bold;
		font-size: 12px;  }
	legend {
		display: block;
		font-weight: normal;
		font-size: 15px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

.valid .text_input, .valid .text_area{border:1px solid #9AA600;} /*#70A41B*/
.error .text_input, .error .text_area{border:1px solid #FF6600;}
.ajax_alert .text_input, .ajax_alert .text_area{border:1px solid #ffb628;}
	

/* #Table
================================================== */
table {
	width: 100%;
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 11px;
	border-top-style: solid;
	border-top-width: 1px;
}

table caption {
	padding: 0 0 5px 0;
	width: auto;	 
	font-style:italic;
	text-align: right;
}

th {
	font-weight:bold;
	letter-spacing: 1.5px;
	line-height: 1.5em;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	border-style: solid;
	border-width: 1px;
	border-left:none;
	border-top:none;
}

td {
	font-size: 12px;
	padding: 6px 6px 6px 12px;
	border-style: solid;
	border-width: 1px;
	border-left:none;
	border-top:none;
}

/* tr th:first-child, tr td:first-child{
	border-left-style: solid;
	border-left-width: 1px;
}
*/
#top th.nobg {
	background: none;
	border-top: 0;
}


/* #Other elements
================================================== */

/*code*/
pre{
border-style: solid;
border-width: 1px;
overflow:auto;
padding:2em;
line-height: 2em;
font-size: 12px;
background-image: -webkit-linear-gradient(rgba(0, 0, 0, .05) 50%, transparent 50%, transparent);
background-image: -moz-linear-gradient(rgba(0, 0, 0, .05) 50%, transparent 50%, transparent);
background-image: -ms-linear-gradient(rgba(0, 0, 0, .05) 50%, transparent 50%, transparent);
background-image: -o-linear-gradient(rgba(0, 0, 0, .05) 50%, transparent 50%, transparent);
background-image: linear-gradient(rgba(0, 0, 0, .05) 50%, transparent 50%, transparent);
-webkit-background-size: 100% 4em ;
-moz-background-size: 100% 4em ;
background-size: 100% 4em;
font-family: 'Roboto', sans-serif;
-webkit-transition: all ease-in-out 0.5s;
-moz-transition: all ease-in-out 0.5s;
-o-transition: all ease-in-out 0.5s;
transition: all ease-in-out 0.5s;
margin-bottom: 30px;
position: relative;
left:0;
text-transform: none;
}

code{
font-family: Monaco, "Andale Mono", "Courier New", Courier, monospace;
}

/*
pre{
background-color:#fff;
width:400px;
}
pre:hover{
z-index: 100;
width:885px;
left:-240px;
}
*/

iframe, object, embed{
max-width:100%;
}

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	.hidden { position: absolute; top:0; visibility: hidden;}
	.floatleft{float:left;}
	.floatright{float:right;}
	.clearboth{clear:both;}
	.rounded{ -moz-border-radius: 3px; -webkit-border-radius:3px; border-radius:3px;}
	.special_amp{font-family: "Baskerville", "Palatino Linotype", "Palatino", "Times New Roman", serif; font-style: italic; }
	.lightbox_video, .lightbox_image, .image_overlay_effect, .image_overlay_effect_inside{position: absolute;z-index: 2;top:0;left:0;right: 0;bottom:0;}
	.lightbox_video .image_overlay_effect_inside{ background: url("../images/layout/overlay-video.png")   no-repeat scroll center center transparent;} 
	.lightbox_image .image_overlay_effect_inside{ background: url("../images/layout/overlay-image.png") no-repeat scroll center center transparent;}
	#top .noborder, #top .noborder img{border:none;padding:0;background: transparent;}
	.bg_container{
	background-position: center center; background-attachment: fixed; background-repeat: no-repeat;
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
	height:100%; width:100%; position: fixed; z-index: 1; top:0; left:0;
	}


/* #WordPress Generated Generics
================================================== */

/*img alignment*/
body .alignleft,  .entry-content a:hover .alignleft{ float:left; margin:4px 10px 0px 0;  display: block; }
body .alignright,  .entry-content a:hover .alignright { float:right;margin:4px 0px 0px 10px;display: block; }
body .aligncenter,  .entry-content a:hover .aligncenter{ clear:both; display:block; margin:10px auto; padding: 10px 0; }
.alignleft img, .alignright img{ display:block; } 


/*gallery*/
.gallery br{
display:none;
}

#top .gallery a, #top .gallery a img{
border:none;
max-width: 100%;
display: block;
position: relative;
}

#top .gallery .gallery-item{
margin:1px 1px 0 0;
width:80px;
height:80px;
padding:0;
}

/*image captions*/
div .wp-caption{
max-width:100%;
font-size: 11px;
font-style: italic;
border-width:1px;
border-style: solid;
margin:5px 15px 10px 0;
position: relative;
}

#top .wp-caption img {
border:medium none;
display:block;
padding:0;
margin:0;
}

.wp-caption-text {
display:block;
font-size:11px;
font-style:italic;
margin:0 auto;
padding:3px 10px 5px;
text-align:center;
font-family: 'Roboto', sans-serif;}

#top .wp-caption.aligncenter{
margin:5px auto 10px auto
}

/*smiley image*/
#top .wp-smiley{
display:inline-block;
border:none;
}

/*calendar table*/
#wp-calendar td, #wp-calendar th{
text-align: center;
font-size: 11px;
padding: 3px;
}


/* Animate the following elements whenever they change layout
================================================== */

/*
#wrap_all, .container_wrap, .container, .units{
  -webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
     -moz-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
          transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
          
}

#top .no_css_transition{
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
          
}
*/
  .link_holder > p {display:none;}
  .link_holder{margin:10px 0 10px 9px;width:48%;display:inline-block;}
  .link_holder > div{height:0px;overflow:hidden;width:100%;position:absolute;}
  .show_link{
		margin-bottom:10px;
	 text-decoration:none;
	 margin-left: 74px;
	  position: relative;
	  background-color: #ffbb00;
	  color: #000;
	  text-shadow: 0 2px 4px rgba(0,0,0, .46);
	  border-radius: 10px;
	  padding: 15px 30px 15px 20px;
	  display: block;
	  font-size: 18px;
	  cursor: pointer;
  }
  .show_link:hover{opacity: .8;color:#000;}
  .show_link span{
		position:absolute;
		right:20px;
  }
  .link_holder > a > img{
height: 50px;
  width: 70px;
  left: 0px;
  margin-top: 0px;
  border-radius: 10px;
 }
 
 .active_tab{width:100%;}
 .active_tab div{height:auto;position:relative;}
 .active_link{color:#000000;opacity:0,8}
 .active_link:hover{color:#000;opacity:1;}
 #menu-middle-menu li>ul {
	padding-top:5px;
	position: absolute;
	top: 38px;
	left: -25px;
	display: none;	
}
 #menu-middle-menu li>ul li {
	width:150px;
}
#menu-middle-menu li:hover ul{
	display:inline-block;
}
#menu-middle-menu li {position:relative;}
.map{display:none;}
.black{color:#000;}
.city span,.ya-phone-3 small{color:#666;}
.city{font-weight: 900;font-size: 24px;font-family: Arial;color: #000; border-top: 1px solid;display:block;padding-top:10px;}
.show_map,.show_сontacts {color: #ccc;text-decoration: none;border: 1px solid;display: block;text-align: center;cursor:pointer;  font-size: 18px; padding: 3px;}
.showed{  color: #000;}
.show_map:hover,.show_сontacts:hover{color:#000;}
.showed:hover{color:#f0b70c;}

#contact-form .left-part{width: 45%; display: inline-block;float:left;}
#contact-form .left-part p{color:#fff;font-size:3vw;line-height:3vw;padding: 15px 0 0 15px;}
#contact-form .right-part{width: 49%; display: inline-block;padding-top:15px;}
#contact-form  input[type=text],#contact-form  input[type=tel],.com-offer input[type=text],.com-offer input[type=email]{
min-width: 100px;
display: inline-block;
width: 45%;
margin-bottom:0;
border-radius:5px;
}
#contact-form  input[type=text],.com-offer  input[type=text]{margin-right:4px;margin-bottom:5px;}
#contact-form  input[type=submit],.com-offer  input[type=submit]{
width: 100%;
font-size: 24px;
padding: 10px;
color: #666666;
text-transform: uppercase;
background: #fff;
border-radius: 5px;
border: 1px solid #f1b70d;
}
#contact-form  input[type=submit]:hover,.com-offer  input[type=submit]:hover{border: 1px solid #666;background: #f1b70d;color:#fff;}
.links-list{  width: 50%; margin: 15px auto;}
.links-list li{  font-size: 14px;display: inline-block;width: 200px; vertical-align: top;list-style:none;}
.links-list li a{ text-decoration:none;text-transform:uppercase;}
#contact-form form>div,.com-offer form>div{background:#F8B932;border-radius: 5px;padding-left:5px;margin-bottom:15px;}
#contact-form textarea{width:100%;height:60px;border-radius:5px;}
.com-offer{  width: 50%; float: right;}
.com-offer form>div{padding:15px 10px;} 
.com-offer textarea{width:95%;height:90px;border-radius:5px;}
.com-offer .form-title{  display: block;text-align: center;font-size: 18px;margin-bottom: 10px; color: #fff; font-weight: bold;}
#contact_form_pop input[type=submit],#order_form_pop input[type=submit],#letter_form_pop input[type=submit]{
 width: 100%;
  font-size: 14px;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #666;background: #f1b70d;color:#fff;
}
#contact_form_pop p{margin-bottom:0;}
#contact_form_pop input[type=submit]:hover{border: 1px solid #f1b70d;  background: #fff;  color: #666666;}
#order_form_pop input[type=submit]:hover{border: 1px solid #f1b70d;  background: #fff;  color: #666666;}
.news .content{float:none;}
.news .post-title{ display:inline-block;padding-right:10px;}
.news .post-entry{padding-bottom:20px !important;}
.news .pagination-meta{display:none !important;}

.order {  display: inline-block;
  font: 12px/20px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  background: #f1b70d;
  text-shadow: 1px 1px 2px #333;
  box-shadow: 1px 1px 1px 2px #aaa;
  text-decoration: none;
  padding: 3px 3px;
  margin: 3px 2px;
  border-radius: 3px;
  border: 1px solid #fff;
  color: #fff;}
  .price_table input{  width: 45%; display: inline-block;}
  #newsbox-2 {padding-bottom:10px;}
  #text-6 {padding-top:5px;}
  .java_link{text-decoration:underline;cursor:pointer;}
 .footer-block {clear:both;}
  .footer-block span{  font-size: 20px;
  font-weight: 900;
  color: #F1B70D;}
  .footer-block  .fancybox-inline{
	  font-size: 18px;
  text-decoration: none;
  display: block;
  background: #333;
  text-align: center;
  border: 1px solid #c27b00;
  border-radius: 5px;
  padding: 5px 0;
  margin-top:10px;
    margin-right: 50px;
}
  .footer-block .title{font-size:24px;text-align:center;border-bottom:3px solid #ffa810;  margin-bottom: 10px;}
  .footer-block .title p{margin-bottom:15px;}
  #voprosy{display:block;width:290px;height:72px;background: url("../images/answer1.png") 0 0;}
  #voprosy:hover{background: url("../images/answer1.png") 0 72px;border: 1px solid #2b2a28;}
  #letter_form_pop textarea{height:100px;} 
  .print-page{font-size: 18px;color: #000;display: block;background: none repeat scroll 0% 0% #F0B70C;border-radius: 10px;text-decoration: none;box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);width: 220px;text-align: center;line-height: 40px;}
 .print-page:hover{  border: 2px solid;
  background-color: #fff;
  font-weight: bold;}
 @media (max-width: 1000px){.show_link{font-size:14px;}}
  @media (max-width: 800px){.link_holder{margin: 10px 0; width: 100%; display: block;} .link_holder .cboxElement{display:none;} .show_link{font-size:12px;}}
  @media (max-width: 480px){#contact-form .left-part{display:block;float:none;} .com-offer{width:100%;}.com-offer form>div{margin-top:10px;}}


.sharelogo {
    display: none !important;
}